@value mediaQuery from '../../common/size.css';

.order {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    min-height: 0;
    /* flex-grow: 1;
    flex-shrink : 1;
    flex-basis: 0; */
}

@media screen and (max-width: mediaQuery) {
    .container {
        flex-direction: column;
    }
}