@value makerBeige, makerGreen, makerDarkGreen, makerWhite, makerBlack, makerBeige from '../../common/colors.css';

.preview {
    flex-basis: 50%;
    background-color: wheat;
}

.title {
    /* width: 100%; */
    text-align: center;
    margin: 1em;
}

.cards {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}