@value orderBrown, orderBeige from '../../common/colors.css';

.footer {
    width: 100%;
    background-color: orderBrown;
    text-align: center;
    padding: 0.5em;
}

.title {
    color: orderBeige;
}

.copyright {
    text-decoration: none;
    color: orderBeige;
}